.custom-modal .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.custom-modal .modal-content {
  border-radius: 30px !important;
  overflow: hidden;
}

.modal-body-custom {
  background-color: #65c3a5;
}
.hr-edit {
  margin-top: 40px;
}
